
@{
    ViewBag.Title = "Index";

}

@section Carrousel{
    <!--_______________________________________ Carrossel__________________________________ -->
<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="image/fusca.jpg" alt="fusca">
                <div class="carousel-caption">
                    <h2>Volkswagen Fusca</h2>
                    <p>
                        O Volkswagen nasceu nas mãos da Porsche,<br>
                        criado para ser um carro popular durante<br>
                        a II Guerra Mundial.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="image/brasilia.jpg" alt="brasilia">
                <div class="carousel-caption">
                    <h2>Brasilia 1977</h2>
                    <p>
                        O Brasília foi um automóvel produzido de 1973 até 1982<br>
                        pela Volkswagen do Brasil.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="image/belina.jpg" alt="belina">
                <div class="carousel-caption">
                    <h2>Ford Belina</h2>
                    <p>
                        O primeiro lançamento dos anos 70 era a perua Belina, <br>
                        derivada do sucesso Corcel.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="image/fiat147.jpg" alt="fiat147">
                <div class="carousel-caption">
                    <h2>Fiat 147</h2>
                    <p>
                        Produzido entre 1976 e 1986 no Brasil, <br>
                        o Fiat 147 foi baseado em um modelo italiano, o 127.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="image/decave.jpg" alt="decave">
                <div class="carousel-caption">
                    <h2>Decave</h2>
                    <p>
                        O Belcar S, de 1967, <br>
                        demonstrou uma evolução brilhante na trajetória do carro-chefe da Vemag.
                </div>
            </div>
            <div class="item">
                <img src="image/corcel.jpg" alt="corcel">
                <div class="carousel-caption">
                    <h2>Ford Corcel</h2>
                    <p>
                        Em dezembro de 1968, no VI Salão do Automóvel, <br>
                        em São Paulo, foi apresentado o Ford Corcel.
                </div>
            </div>
        </div>
    </div>
</div>
}

<div class="text-center">
    <h2>SQL AutoParts</h2>
    <p>
        A <strong>SQL AutoParts</strong> é uma loja de autopeças e serviços em Ribeirão Preto, interior de São Paulo, <br />
        que trabalha com uma enorme quantidade e variedade de peças e acessórios para veículos nacionais ou importados. <br />
    </p>

    <blockquote>
        Spare Quality Ltda.
    </blockquote>
</div>


